<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/nav-bar.css" rel="stylesheet" />
    <link href="css/contact.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="sidebar">
            <a class="close-icon" href="#" onclick="CloseSidebar()"><svg xmlns="http://www.w3.org/2000/svg"
                    height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg></a>
            <a href="/">Home</a>
            <a href="/wat-ik-doe">Wat ik doe</a>
            <a class="active-tab" href=" /contact">Contact</a>
        </div>

        <div>
            <a class="other-font" href="/"><img src="/images/Logo-Licht.png" alt="" /></a>
            <a class="hide-on-mobile" href="/">Home</a>
            <a class="hide-on-mobile" href="/wat-ik-doe">Wat ik doe</a>
            <a class="active-tab hide-on-mobile" href="/contact">Contact</a>
            <a class="menu-icon other-font" onclick="OpenSidebar()" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                    height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg></a>
        </div>
    </nav>

    <div class="body-flex-container">
        <div class="black-container info-flex-container">
            <div class="text-container">
                <h2>Neem contact met mij op</h2>
                <p>
                    Als je een goede kraanmachinist zoek met evaring en werkplezier? Bel
                    of mail gerust.
                </p>
            </div>
            <div class="buttons-container">
                <a href=""><button type="submit">Mail</button></a>
                <a href=""><button type="submit">Bel</button></a>
            </div>
        </div>

        <div class="black-container gegevens-text-container">
            <div class="info-text-container">
                <div class="location-info">
                    <p>Tongerse-Zuid 117</p>
                    <p>8162 SB Epe</p>
                </div>
                <div class="telefoon-info">
                    <p>T: <a href="">06 30 90 42 14</a></p>
                    <p>E: <a href="">info@nkloezeman.nl</a></p>
                </div>
            </div>

            <div class="logo-container">
                <a href="/"><img src="/images/Logo-Licht.png" alt="company logo" /></a>
            </div>
            <div class="facebook-container">
                <a href="https://www.facebook.com/niels.kloezeman/?locale=nl_NL" target="_blank"><img
                        src="/images/Facebook_Logo_2023.png" alt="company logo" /></a>
            </div>
        </div>
    </div>
    <script src="sidebar.js"></script>
</body>

</html>
