body {
   background-color: #343434;
   margin: 0;
   font-family: "mukta mahee", sans-serif;
   color: white;
}

.page-container {
   width: 100%;
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: flex-end;
}

.container {
   position: absolute;
   /* Absoluut positioneren om over het plaatje te plaatsen */
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto;
   gap: 50px;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   height: max-content;
   padding: 20px;
   box-sizing: border-box;
   z-index: 2;
}

.container {
   top: 50%;
   /* Verticaal gecentreerd */
   left: 50%;
   /* Horizontaal gecentreerd */
   transform: translate(-50%, -50%);
   /* Zorg dat het midden precies in het midden ligt */
   z-index: 2;
   /* Zorgt ervoor dat de container bovenop het plaatje komt */
   padding: 20px;
   border-radius: 10px;
   /* Ronde hoeken */
   color: white;
   /* Zorgt voor goed leesbare tekst */
   width: 100%;
   /* Pas de breedte naar wens aan */
   max-width: 80%;
   /* Maximale breedte */
   box-sizing: border-box;
   /* Inclusief padding */
}

.img-container {
   position: relative;
   width: 100%;
   height: max-content;
   display: flex;
   justify-content: center;
}

.img-container>img {
   width: 100%;
   height: auto;
   object-fit: cover;
   /* Zorgt dat het plaatje de container netjes vult */
   display: block;
   padding: 100px;
   filter: blur(8px);
   -webkit-filter: blur(8px);
}

.contact-container {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   align-self: start;
   justify-self: end;
   width: 100%;
   max-width: 700px;
   height: 480px;
   background-color: #272727;
   border: 1px solid #979797;
   border-radius: 22px;
   margin: 30px;
   font-size: 30px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   z-index: 2;
}

.contact-info {
   margin: 30px;
}

.contact-info>p {
   font-weight: lighter;
}

.contact-info>h3 {
   font-weight: 600;
}

.contact-buttons {
   width: 100%;
   height: max-content;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 35px;
}

.btn {
   width: 235px;
   height: 75px;
   border: none;
   background-color: #f4c031;
   border-radius: 22px;
   color: black;
   font-size: 33px;
   font-weight: 900;
   padding: 20px;
}

.btn:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

.info-text-container>h3 {
   font-size: 50px;
   margin: 0;
}

.info-text-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
}

.gegevens-container {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   align-self: start;
   justify-self: start;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.facebook-container {
   width: 100%;
   max-width: 250px;
   height: auto;
}

.facebook-container>a>img {
   width: 100%;
   height: auto;
}

.info-link {
   color: #f4c031;
}

.info-link:hover {
   color: #bc9428;
}
