nav {
   width: 100%;
   height: 75px;
   background-color: black;

   display: flex;
   justify-items: center;
   align-items: center;
   flex-direction: row;
}

.nav-bar {
   margin: 0 auto;
   width: 90%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}


.nav-bar>a>img {
   width: 65px;
   height: auto;
}

.nav-text-container {
   display: flex;
   flex-direction: row;
   gap: 60px;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.nav-text-container ul {
   width: 100%;
   list-style: none;
   display: flex;
   gap: 60px;
   justify-content: center;
   align-items: center;
}

.nav-text-container > ul > li > a {
   font-size: 20px;
   white-space: nowrap;
   color: #f4c031;
   text-decoration: none;
   cursor: pointer;
   font-weight: 600;
}

.nav-text-container>  ul > li > a:hover {
   color: white;
}


.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}
