body {
   background-color: #343434;
   margin: 0;
   font-family: "mukta mahee", sans-serif;
   color: white;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #f4c031
}
::selection {
  color: black;
  background: #f4c031;
}
